{% extends 'base.html.twig' %} {% block title %}Edition des fiches{% endblock %}
{% block body %} {% form_theme form _self %}

<div class="container">
  <h1 class="my-5">Modifier la fiche: {{ parc.name }}</h1>

  {{ form_start(form) }}

  <div class="row">
    <div class="col-md-7">
      <div class="alert alert-light">
        <h2>Informations générales</h2>
        <hr />
        {{ form_row(form.name) }}
        {{ form_row(form.introduction) }}
        {{ form_row(form.description) }}
      </div>
    </div>
    <div class="col-md-5">
      <div class="alert alert-light">
        <h2>Localisation</h2>
        <hr />
        {{ form_row(form.address) }}
        {{ form_row(form.postal_code) }}
        {{ form_row(form.city) }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="alert alert-light">
        <h2>Horaires d'ouverture</h2>
        <hr />
        <p>Informations à venir...</p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="alert alert-light">
        <h2>Images</h2>
        <hr />
        {{ form_row(form.pictureFiles) }}
      </div>
      <div class="alert alert-light">
        {% for picture in parc.pictures %}
        <div class="col my-2 mx-2">
          <img
            src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('thumb') }}"
            width="100"
            alt=""
          />
          <a
            href="{{ path('dash.picture.delete', { id: picture.id }) }}"
            class="btn btn-danger mx-2"
            data-delete
            data-token="{{ csrf_token('delete' ~ picture.id )}}"
            >X
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="alert alert-light clearfix">
    <button type="submit" class="btn btn-success float-right">
      <i class="fas fa-check"></i>
      Enregistrer les modifications
    </button>
  </div>
  {{ form_end(form) }}
</div>
{% endblock %}
