{% extends 'base.html.twig' %} {% block title 'Créer une nouvelle annonce' %} {%
block body %} {% form_theme form _self %}

<div class="container">
  <h1 class="my-5">Créer une annonce</h1>

  {{ form_start(form) }}

  <div class="row">
    <div class="col-md-7">
      <div class="alert alert-light">
        <h2>Informations générales</h2>
        <hr />
        {{ form_row(form.name) }}
        {{ form_row(form.slug) }}
      </div>
    </div>
    <div class="col-md-5">
      <div class="alert alert-light">
        <h2>Images de l'annonce</h2>
        <hr />
        {{ form_row(form.pictureFiles) }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="alert alert-light">
        <h2>Détails de l'annonce</h2>
        <hr />
        {{ form_row(form.introduction) }}
        {{ form_row(form.description) }}
      </div>
    </div>
    <div class="col-md-5">
      <div class="alert alert-light">
        {% for picture in parc.pictures %}
        <div class="col my-2 mx-2">
          <img
            src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('thumb') }}"
            width="100"
            alt=""
          />
          <a
            href="{{ path('dash.picture.delete', { id: picture.id }) }}"
            class="btn btn-danger"
            data-delete
            data-token="{{ csrf_token('delete' ~ picture.id )}}"
            >Supprimer
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="alert alert-light clearfix">
    <button type="submit" class="btn btn-success float-right">
      <i class="fas fa-check"></i>
      Créer l'annonce
    </button>
  </div>
  {{ form_end(form) }}
</div>
{% endblock %}
