{% extends 'base.html.twig' %} {% block title %}Liste des espaces verts
parisiens{% endblock %} {% block body %}

<div class="jumbotron">
  <div class="container">
    <h2 class="my-5">Trouvez un espace vert près de chez vous...</h2>
    {{ form_start(form) }}
    <div class="form-row align-items-end">
      <div class="col">
        {{ form_row(form.address, { id: 'search_address' }) }}
      </div>
      <div class="col">
        {{ form_row(form.distance) }}
      </div>
      <div class="col">
        <div class="form-group">
          <button class="btn btn-success">Rechercher</button>
        </div>
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
<div class="container">
  <div class="row mt-4">
    <div class="col">
      {% if parcs|length == 0 %}
      <h4>
        Malheureusement il n'y a pas de résultat pour cette recherche. Veuillez
        sélectionner d'autres critères...
      </h4>
      {% else %}
      <div class="row flex">
        {% for parc in parcs %}
        <div class="col-md-6">
          <div class="card bg-light my-3">
            <a href="{{ path('parcs.show', { id: parc.id, slug: parc.slug }) }}"
              >{% if parc.picture %}
              <img
                src="{{ vich_uploader_asset(parc.picture, 'imageFile') | imagine_filter('thumb') }}"
                alt="card-img-top"
                style="width: 100%; height: auto"
              />
              {% else %}
              <img
                src="{{ '/images/empty.jpg' | imagine_filter('thumb') }}"
                alt="card-img-top"
                style="width: 100%; height: auto"
              />
              {% endif %}
            </a>
            <div class="card-body">
              <h5 class="title">
                <a
                  href="{{
                    path('parcs.show', { id: parc.id, slug: parc.slug })
                  }}"
                  >{{ parc.name }} - {{ parc.postalCode }}</a
                >
              </h5>
              <br />
              <p class="card-text">
                {{ parc.introduction }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
  </div>
  <div class="pagination">
    {{ knp_pagination_render(parcs) }}
  </div>
</div>
{% endblock %}
