{% extends 'base.html.twig' %} {% block title %}Liste des espaces verts
parisiens{% endblock %} {% block body %}
<div class="container">
  <div class="row mt-4">
    <div class="col">
      <div class="row flex">
        {% for parc in parcs %}
        <div class="col-md-6">
          <div class="card bg-light mb-3">
            <a href="{{ path('parcs.show', { id: parc.id, slug: parc.slug }) }}"
              >{% if parc.filename %}
              <img
                src="{{ vich_uploader_asset(parc, 'imageFile') | imagine_filter('thumb') }}"
                alt="card-img-top"
                style="width: 100%; height: auto"
              />
              {% else %}
              <img
                src="{{ '/images/parcs/empty.jpg' | imagine_filter('medium') }}"
                alt="card-img-top"
                style="width: 100%; height: auto"
              />

              {% endif %}
            </a>
            <div class="card-body">
              <h5 class="title">
                <a
                  href="{{
                    path('parcs.show', { id: parc.id, slug: parc.slug })
                  }}"
                  >{{ parc.name }}</a
                >
              </h5>
              ><br />
              <small>Code Postal</small>
              <p class="card-text">
                {{ parc.introduction }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="pagination">
    {{ knp_pagination_render(parcs) }}
  </div>
</div>
{% endblock %}
